

.sect{

    &__animText{
        height: 200px;
        width: 100vw;
        margin: 155px 0 211px -9vw;
        overflow: hidden;
        // border: 1px solid red;
        // &> div{
        //     animation: animBigText 30s ease-in infinite ;
        // }
    }
    &__txt--animBig{
        width: 100%;
        font-family: "basement";
        font-size: 190px;
        font-weight: 800;
        line-height: 90%;
        display: flex;
        white-space: nowrap;
        color: #00000030;
        text-align: center;
       transform: translateX(-30%);
        &>span {
            color: #984EFA20;
        }
    }
}


@keyframes animBigText {
    from{
        transform: translateX(-30%);
    }
    30%{
        transform: translateX(60%);
    }
    90%{
        transform: translateX(-400%);
    }
    to{
        transform: translateX(-30%);
    }
}