.nav {

    &__btn{
        width: 100%;
        height: 60px;
        border: none;
        font-family: "basement";
        font-size: 16px;
        font-weight: 600;
        color: $text;
        text-align: center;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 5vw;
       // width: 100%;
        height: 60px;
        background-color: $bgGris;

        &--case {
            height: 60vh;
            max-height: 340px;
            display: none;
            flex-wrap: wrap;
            padding: 28px 0;
            &>li {
                padding: 0 16px;
                width: 100%;
                text-align: center;
                &>a{
                    display: inline-block;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &--open{
            display: flex;
        }
    }

    &__el {
        width: auto;
        height: 22px;
        margin: 0 2vw;

        &--actif {
            border-bottom: 1px solid $mauve;
            transition: 0.3s;

            &>a {
                font-weight: 800;
                letter-spacing: -0em;
            }
        }
    }

    &__lien {
        font-family: "RobotoMono";
        font-size: 16px;
        font-weight: 300;
        color: $text;
        letter-spacing: -0.1em;
        transition: 0.3s;
        scroll-behavior: smooth;
        padding: 6px 8px;
        height: 28px;
        &>span {
            color: $mauve;
        }

        &:hover {
            font-weight: 200;
            color: rgb(0 0 0 / 61%);
            transition: 0.3s;
        }
    }
}


.sect {

    &__anchor {
        display: block;
        width: 10px;
        height: 10px;
        position: relative;
        top: -130px;
        visibility: hidden;
        scroll-behavior: smooth;
        scroll-behavior: smooth;
    }
}



@media(min-width: 900px) {

    .nav {
        &__btn{
            display: none;
        }

        &__el{
            margin: 0;
            display: flex;
            align-items: center;
            height: 100%;
        }

        &__list {
            padding: 0;
            background-color: transparent;

            &--case {
                height: 60px;
                display: flex;
                flex-wrap: nowrap;
                &>li {
                    padding: 12px 0 0 0 ;
                    width: auto;
                    &>a{
                        display: inline-block;
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        
                    }
                }
            }
        }
    }

}