
.nav{

    &__list{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 5vw;
            width: 100%;
            height: 60px;
            background-color: $bgGris;
    }

    &__el{
        width: auto;
        height: 22px;
        &--actif{
            border-bottom: 1px solid $mauve;
            transition: 0.3s;
            & > a {
                font-weight: 800;
                letter-spacing: -0em;
            }
        }
    }
    &__lien{
        font-family: "RobotoMono";
        font-size: 16px;
        font-weight: 300;
        color: $text;
        letter-spacing: -0.1em;
        transition: 0.3s;
        scroll-behavior: smooth;
        & > span {
            color: $mauve;
        }
        &:hover{
            font-weight: 200;
            color: #00000060;
            transition: 0.3s;
        }
    }
}


.sect{

    &__anchor{
        display: block;
        width: 10px;
        height: 10px;
        position: relative;
        top: -130px;
        visibility: hidden;
        scroll-behavior: smooth;
        scroll-behavior: smooth;
    }
}



@media(min-width: 900px){

   .nav{
    &__list{
        padding: 0 ;
        background-color: transparent;
}
   }
    
}