.sect {
    &--intro {

        overflow-x: hidden;
    }

    &__boxImgInro {
        height: 390px;
        width: 340px;
        margin: 16px 0 0 5vw;
        // border: 1px solid red;
        display: flex;
        flex-direction: column;
        margin: 0 0 0 6vw;

    }

    &__imgIntro {
        width: 104px;
        height: 129px;
        position: relative;
        display: block;
        top: 20px;
        left: 8vw;

        &:nth-child(2) {
            width: 222px;
            height: 294px;
            position: relative;
            top: -68px;
            left: 18vw
        }

        &:nth-child(3) {
            width: 149px;
            height: 202px;
            position: relative;
            top: -230px;
            left: 55vw
        }

        &--border {
            &::after {
                content: "";
                display: block;
                width: 242px;
                height: 314px;
                background-color: transparent;
                border-radius: 20px;
                position: relative;
                top: -299px;
                left: -21px;
                border: 2px solid #984EFA30;
                animation: animationSpam 8s infinite;

            }

            &::before {
                content: "";
                display: block;
                width: 218px;
                height: 294px;
                background-color: transparent;
                border-radius: 10px;
                position: absolute;
                top: -9px;
                left: -10px;
                border: 2px solid #984EFA60;

            }
        }
    }

    &__imgDiv {
        width: calc(100% - 20px);
        height: calc(100% - 20px);

    }
}

@keyframes animationSpam {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0.2;
        transform: scale(0.8);
    }
    50%{
        opacity: 1;
        transform: scale(1.1);
    }
    70%{
        opacity: 0.6;
        transform: scale(1);
    }
    80%{
        opacity: 0.8;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(0);
    }

}


@media(min-width: 900px) {

    .sect {
        &--intro {
            width: 100vw;
            max-width: 99vw;
            //height: 780px;
            height: 1050px;
            //height: 1050px;
            margin:  91px 20px 91px 0;
            padding: 0 10vw;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }

        &__boxIntro {
            flex: 6;
            max-width: 690px;
        }

        /// les images 
        &__imgIntro {
            width: 221px;
            height: 307px;
            top: -188px;
            left: -6vw;

            &:nth-child(2) {
                width: 438px;
                min-width: 438px;
                height: 609px;
                min-height: 609px;
                top: -400px;
                left: 2vw
            }

            &:nth-child(3) {
                width: 221px;
                height: 307px;
                top: -530px;
                left: 22vw
            }

            &--border {
                &::after {
                    width: 497px;
                    height: 659px;
                    position: absolute;
                    top: -38px;
                    left: -38px;

                }

                &::before {
                    width: 462px;
                    height: 626px;
                    position: absolute;
                    top: -22px;
                    left: -22px;


                }
            }
        }

    }
}


// .t1 {
//     grid-area: t1;
//     margin: 0 0 51px 0;
// }

// .p1 {
//     grid-area: p1;
//     margin: 18px 0;
// }
// .l1 {
//     grid-area: l1;
//     margin: 38px 0 0 0 ;
// }

// .p2 {
//     grid-area: p2;
//     margin: 18px 0;
// }

// .im {
//     grid-area: im;
// }