@import 'utils/variables';
@import 'utils/font';
@import 'components/type';
@import 'components/head';
@import 'components/nav';
@import 'components/sect';
@import 'components/sectIntro';
@import 'components/animText';
@import 'components/listMapTag';
@import 'components/foot';
@import 'components/credit';
@import 'components/uikit';
@import 'components/case';

main{
    overflow-x: hidden;

}

p, h1, h2, h3, h4, b, i{
    &::-moz-selection {
        color: #f1f1f1;
        background-color: #8c39f9;
    }

    &::selection {
        color: #f1f1f1;
        background-color: #8c39f9;
    }
}
a{
    &::-moz-selection {
        color: #8c39f9;
        background-color: #f1f1f1;
    }

    &::selection {
        color: #8c39f9;
        background-color: #f1f1f1;
    }
}